{% extends 'base_forms.html.twig' %}

{% block title %}Vos livrets{% endblock %}

{% block body %}

    <div class="container-fluid">
        <h1 class="my-3">
            {% if is_granted('ROLE_ADMIN') %}
                Tout les livrets
            {% else %}
                Mes livrets
            {% endif %}
        </h1>

        {% if livrets is empty %}
            <div class="alert alert-dismissible alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4 class="alert-heading">Aucun contenu!</h4>
                <p class="mb-0">Il n'y a pour l'instant aucun livrets renseignés ici !</p>
            </div>
        {% endif %}

        <div class="table-responsive">
            <table class="table table-light">
                <thead>
                <tr>
                    <th scope="col">Intitulé</th>
                    <th scope="col">Années</th>
                    <th scope="col">Formation</th>
                    <th scope="col">Etudiant</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>

                {% if is_granted("ROLE_ADMIN") %}
                    <a href="#" class="btn btn-primary btn-lg mb-3"><i class="fas fa-plus"></i>Ajouter un livret</a>
                {% endif %}

                {% for livret in livrets %}
                    <tr>
                        <td>{{ livret.nomLivret | raw }}</td>
                        <td>{{ livret.periode.annees }}</td>
                        <td>{{ livret.formation.libelle }}</td>
                        <td>{{ livret.etudiant.fullName }}</td>
                        <td>
                            <a href="{{ path('show_livret',{'id' : livret.id}) }}" class="btn btn-success"><i
                                        class="fas fa-eye"></i></a>
                            <a href="#" class="btn btn-info"><i
                                        class="fas fa-pen"></i></a>
                            {% if is_granted("ROLE_ADMIN") %}
                                <a href="{{ path('delete_livret', {'id' : livret.id}) }}" class="btn btn-danger"
                                   onclick="return confirm('Etes-vous sûr de vouloir supprimer ce livret ?');">
                                    <i class="fas fa-trash"></i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {{ knp_pagination_render(livrets,
            '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig'
        ) }}
    </div>

{% endblock %}