{% extends 'base_forms.html.twig' %}

{% block title %}Consultation d'un livret{% endblock %}

{% block body %}
    {% set formation = livret.formation %}
    {% set etudiant = livret.etudiant %}

    <div class="container">
        <div class="alert alert-dismissible alert-info mt-3 h3">
            Informations sur le livret intitulé : {{ livret.nomLivret|raw }}
        </div>

        <div class="row">
            <div class="col">
                <div class="alert alert-light">
                    <h2>Détails du livret</h2>
                    <dl class="row">
                        <dt class="col-md-4">Période</dt>
                        <dd class="col-md-8 ">{{ livret.periode.annees }}</dd>
                        <dt class="col-md-4">Maître d'apprentissage</dt>
                        <dd class="col-md-8 ">{{ livret.maitreApprentissage.fullName }}</dd>
                        <dt class="col-md-4">Professeur tuteur</dt>
                        <dd class="col-md-8 ">{{ livret.profTuteur.fullName }}</dd>
                    </dl>
                    <hr>
                    <h2>Détails de l'étudiant</h2>
                    <dl class="row">
                        <dt class="col-md-4">Nom complet</dt>
                        <dd class="col-md-8 ">{{ etudiant.fullname }}</dd>
                        <dt class="col-md-4">Classe</dt>
                        <dd class="col-md-8 ">{{ etudiant.classe.nomClasse }}</dd>
                    </dl>
                    <hr>
                    <h2>Détails de la formation</h2>
                    <dl class="row">
                        <dt class="col-md-4">Intitulé</dt>
                        <dd class="col-md-8 ">{{ formation.libelle }}</dd>
                        <dt class="col-md-4">Nom de l'entreprise</dt>
                        <dd class="col-md-8 ">{{ livret.maitreApprentissage.entreprise.nom }}</dd>
                    </dl>
                </div>
            </div>
        </div>
        <a href="#" class="btn btn-primary btn-lg"><i class="fas fa-sticky-note"></i> Fiches de suivis</a>
    </div>

{% endblock %}